h1 {
  padding: 20px 0px;
  font-size: 65px;
  color: #594c4a;
}

input {
  padding: 10px 20px;
}

button {
  padding: 11px 22px;
  background: #efd4a7;
  border: 1px solid black;
  border-radius: 4px;
}

ul {
  list-style-type: none;
  color: #594c4a;
  line-height: 1.5;
}
